@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }

/* Override Material components to use Poppins */

/* .mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
.mat-typography span,
.mat-typography button,
.mat-typography input,
.mat-typography textarea,
.mat-typography select,
.mat-typography label {
    font-family: 'Poppins', sans-serif !important;
} */
